<form (ngSubmit)="resetPassword()"  [formGroup]="form" >
  <div class="center-container">
    <h4>Reset Password</h4>
    <p>
      <mat-form-field appearance="legacy" class="field">
        <mat-label>Enter your new password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          formControlName="password">
          <mat-error *ngIf="!form.get('passowrd')?.valid && form.get('password')?.touched">Password invalid</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" class="field">
        <mat-label>Retype your new password</mat-label>
        <input
          matInput
          name="passwordConfirmation"
          formControlName="passwordConfirmation"
          type="password">
        <mat-error *ngIf="!form.get('passwordConfirmation')?.valid && form.get('passwordConfirmation')?.touched">Password invalid</mat-error>
      </mat-form-field>
    </p>

    <mat-error *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
      Password must contain more than 8 characters, 1 upper case letter, and 1
      special character
    </mat-error>

    <button
      mat-raised-button
      color="warn"
      type="submit"
      [disabled]="!form.valid"
      >
      Submit
    </button>
  </div>
</form>
