
.center-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  width: 40vw;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.test {
  height: 800px;
}

.error {
  margin: 5px 0px 20px 0px;
}

#forgot-password {
  margin-top: 20px;
}

p{
  margin-bottom: 30px;
}


