
<div class="container-fluid">
  <h1 mat-dialog-title fxLayoutAlign="center">What is your Email?</h1>
  <form (submit)="onResetPassword(form)"  #form="ngForm">
    <div mat-dialog-content>
      <mat-form-field appearance="legacy" class="field"  [floatLabel]="'never'">
        <input matInput name="email" email required ngModel>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayoutAlign="center">
      <button mat-flat-button color="warn" type="button" (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" type="submit">OK</button>
    </div>
  </form>
</div>
